.infobar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  padding-left: 5%;
  height: 7.5%;
  width: 100%;
  border-bottom: 1px solid var(--color-lightgray)
}
  
.infobar-roomcode {
  color: var(--color-black);
  cursor: default;
}
  