html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  line-height: 0;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.lobbyOuterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  /* background-color: #1a1a1d; */
  background-color: #212121;
}

.lobbyInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 90%;
}

.lobbyHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.lobbyHeader h1 {
  font-size: 10em;
  margin-bottom: 50px;
}

.lobbyHeader h2 {
  font-size: 3em;
}

.lobbyPlayers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 2em 2em;
  margin: 25px 0px;
}

.lobbyPlayer {
  /* background: #708a97; */
  background-color: #121212;
  color: white;
  border-radius: 4px 4px 0 0;
  display: inline-block;
  margin-right: 10px;
}

.lobbyPlayer video {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.startGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
}

.startButtonLink {
  width: 50%;
}

.startButton {
  color: #fff !important;
  font-weight: bold;
  text-decoration: none;
  /* background: #708a97; */
  background-color: #f76763;
  padding: 15px 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
  cursor: pointer;
}

.startButton button:focus {
  outline: 0;
}
